<div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    
                    Stock Management System by <strong>Bernand D H</strong> &copy; 2019						</span>

                &nbsp; &nbsp;
                
            </div>
        </div>
</div>
